* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px; /* Limita la anchura máxima */
    margin: auto;
    overflow: hidden;
}

header {
    background: #adadad;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo img {
    height: 60px;
    width: 60px;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
}

.btn-primary {
    background: #6bdfff;
    color: #fff;
}

.btn-secondary {
    background: #1dd1a1;
    color: #fff;
}

.hero {
    background: url('images/portada_califia.png') no-repeat center center/cover;
    color: #000;
    height: auto; /* Cambia a auto para que se ajuste al contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 20px;
    background-color: rgba(194, 194, 194, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.features {
    padding: 50px 0;
    background: #f4f4f4;
}

.features h3 {
    text-align: center;
    margin-bottom: 30px;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente fila si es necesario */
}

.feature {
    background: #fff;
    padding: 20px;
    width: 300px; /* Cambia esto según el diseño */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px; /* Añade espacio entre las tarjetas */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}